params {
    reference_genome = null // optional now
    target_dir  = "data/target"
    neighbour_genomes_dir = "data/non_target"
    output_dir = "results"
    bin_dir = "${projectDir}/bin"
    modules = 'all'  // Default to running all modules
    params.threads = 4  // default
    cpus = params.threads


}

conda {
    enabled = true
    useMamba = true
    cacheDir = "$HOME/.conda/envs"
}

process {
    beforeScript = """
        export PATH="${params.bin_dir}:\$PATH"
    """
}
process.echo = false
docker.remove = true
nextflow.enable.configProcessNamesValidation = false

trace {
    enabled = true
    file = "${params.output_dir}/pipeline_trace.txt"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.output_dir}/pipeline_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.output_dir}/pipeline_report.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.output_dir}/pipeline_dag.svg"
    overwrite = true
}

log {
    enabled = true
    file = "${params.output_dir}/pipeline_execution.log"
    overwrite = true
}

manifest {
    name = 'SURE-Pipe: Shared and Unique Regions Extraction pipeline'
    author = 'Infant Thomas'
    description = 'Pipeline for Comparative analysis'
    version = '1.0.0'
}
