params {

    reference_genome        = null
    target_dir              = "data/target"
    neighbour_genomes_dir   = "data/non_target"
    output_dir              = "results"
    bin_dir                 = "${projectDir}/bin"
    modules                 = 'all'

    threads                 = 4
}

workDir = "${params.output_dir}/work"

conda {
    enabled   = true
    useMamba = true
    cacheDir = "${System.getenv('HOME')}/.conda/envs"
}

process {

    cpus = params.threads

    beforeScript = """
        export PATH="${params.bin_dir}:\$PATH"
    """
}

process.echo = false
nextflow.enable.configProcessNamesValidation = false

trace {
    enabled   = true
    file      = "${params.output_dir}/pipeline_trace.txt"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.output_dir}/pipeline_timeline.html"
    overwrite = true
}

report {
    enabled   = true
    file      = "${params.output_dir}/pipeline_report.html"
    overwrite = true
}

dag {
    enabled   = true
    file      = "${params.output_dir}/pipeline_dag.svg"
    overwrite = true
}

manifest {
    name        = 'SURE-Pipe: Shared and Unique Regions Extraction Pipeline'
    author      = 'Infant Thomas'
    description = 'Pipeline for comparative genomics-based shared and unique region discovery'
    version     = '1.0.0'
}
